/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

html {
  font-family: Avenir, serif, "Times New Roman";
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color: #e3e3e2;
}

body {
  padding-right: 1.22em; /* 22 / 18 = 1.2222222222 */
  padding-right: 1.22em; /* 22 / 18 = 1.2222222222 */
  padding-left: 1.22em;
}

h1 {
  font-size: 2.22em; /* 40 / 18 = 2.22 */
  line-height: 1.68em ;/* 70 / 40 = 1.75 */
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 1.48em; /* 30 /18 = 1.666666667   1.667-1.48=0.187*/
  line-height: 2.38em ;/* 60 / 30 = 2 */
  font-weight: bold;
  color: gray;
}


input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1.45em;
  border: 0;
  background: red;
  font-family: Helvetica, sans-serif;
}

input[type="submit"] {
  width: 33.33333%;
  float: right;
  background: gray;
}

label {
  display: block;
}

form li {
  padding-bottom: 1.222em;
    list-style: none;
  }

#emailneeded {
  padding-top: 1.222em;
  color: red;
  display: block;
}

@media screen and (min-width: 1000px) {
  input {
    width: 60%;
}
